NEXT_PUBLIC_APP_NAME=Currenc Intelligence
DEFAULT_TIMEZONE=America/New_York
NEXT_PUBLIC_API_CACHE_SECONDS=900
NEXT_PUBLIC_DATA_STATUS_POLL_SECONDS=300
NEXT_PUBLIC_COGNITO_DOMAIN=ssma-portal-auth-dev.auth.us-east-1.amazoncognito.com
NEXT_PUBLIC_COGNITO_CLIENT_ID=69l2ucuajiebaj4cau1hvq231f
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000/callback
NEXT_PUBLIC_LOGOUT_URI=http://localhost:3000/logout
NEXT_PUBLIC_API_GATEWAY_URL=https://3flfpju5k8.execute-api.us-east-1.amazonaws.com/dev
